* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px;
}

form {
  margin: 50px auto;
  width: 500px;
}

label {
  margin-bottom: 10px;
  display: block;
}

input {
  border: 1px solid #e5e5e5;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 1px solid #ff6969;
}

button {
  background-color: rgb(28, 28, 28);
  color: #fff;
  border: none;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  font-weight: normal;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.post-card {
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #f3f4f8;
}
